$primary-red: hsl(1, 90%, 64%);
$primary-blue: hsl(219, 85%, 26%);
$white-color: hsl(0, 0%, 100%);
$white-blue: hsl(210, 60%, 98%);
$white-blue1: hsl(211, 68%, 94%);
$white-blue2: hsl(205, 33%, 90%);
$white-blue3: hsl(219, 14%, 63%);
$white-blue4: hsl(219, 12%, 42%);
$white-blue5: hsl(224, 21%, 14%);